./clojure/target
./clojure/classes
./clojure/checkouts
./clojure/profiles.clj
./clojure/pom.xml
./clojure/pom.xml.asc
*.jar
*.class
./clojure/.lein-*
./clojure/.nrepl-port
./clojure/.prepl-port
./clojure/repl-port
.hgignore
.hg/
